/*! CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*! CUSTOM PROPERTIES */

:root{
    --background-color: rgb(18,31,48);
    --border-color: rgb(243,214,125);
    --alert-red: rgb(166,40,57);
    --success-green: rgb(73,175,65);
    --cell-for-row: 10;
}

/*! UTILS */

.h-100{
    height: 100%;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-red{
    color: red;
}

.red-bg{
    background-color: var(--alert-red)
}

.green-bg{
    background-color: var(--success-green)
}

.mb-30{
    margin-bottom: 30px;
}

/*! GENERICS */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

/*! HEADER */

header{
    background-color: white;
    height: 10vh;
    padding: 1rem;
}

header a{
    color: black;
    text-decoration: none;
}

header h1{
    font-family: 'Press Start 2P', cursive;
}

header img{
    margin-right: 1rem;
}

#difficulty{
    width: 200px;
}

#play{
    padding: 2px 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}



/*! MAIN */

main{
    background-color: var(--background-color);
    height: 82vh;
    padding: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.grid{
    height: 60vh;
    width: 60vh;
    border: 1px solid var(--border-color);
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    height: calc(100% / var(--cell-for-row));
    width: calc(100% / var(--cell-for-row));
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.clicked{
    background-color: dodgerblue;
    cursor: not-allowed;
}

.clicked.bomb{
    background-color: red;
}

.bomb img{
    max-width: 50%;
}

#message{
    height: 30px;
    line-height: 30px;
}

/*! FOOTER */

footer {
    background-color: white;
    height: 8vh;
    padding: 1rem;
}

/*! MODAL */

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

#modal .box{
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

#modal .buttons{
    gap: 20px
}

#modal .btn{
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: filter 0.5s;
}

#modal .btn:hover{
    filter: brightness(1.2);
}








